<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - About Us</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
<!--header-->
  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="title-grid">
          <a href="index.html">
            <img src="img/jp-logo.png" alt="CandyJP logo, a white candy">
          </a>
          <h1 class="heading-1"><a href="index.html">CandyJP</a></h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
          <a href="productView.html">
          <input class="bar-button" type="image" name="submit" src="img/search-icon.png" alt="search icon, a magnifier" width="31" height="31"></a>
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Products</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <div class="grid-border">
      <h2 class="heading-2">About Us</h2>
      <div class="grid-group">
        <div class="grid-thirty center" id="grid-aboutUsImage">
          <img src="img/japanese-candy-11.jpg" alt="Assorted types of Japanese candy">
        </div>
    </div>

    <div class="grid-group">

      <div class="grid-forty center div-text">
        <p>
          Japan has always been a sweets-loving nation, and the introduction of Western-style desserts several hundred years ago has only fueled their obsession. Japanese confectionery manufacturers are always experimenting with fillings and flavour combinations, while also sticking to tried and tested classics.
        </p>
        <p>
          CandyJp has a great range of Japanese candy available to buy online, all with the kind of amazingly vibrant colouring and packaging for which modern Japanese culture is so well known! Our range of candy includes boiled sweets in flavours ranging from darjeeling to butter and salt, gummy sweets in a myriad of fruit flavours, tasty mini tablet candies, and more.
        </p>
      </div>
    </div>

    <div class="grid-group">
      <div class="grid-thirty center">
        <form class="form-container">
          <h3 class="heading-3 text-center">Contact Us</h3>
          <label for="name">Name:</label>
          <input class="text-input" type="text" name="name" placeholder="Name" id="name"><br>
          <label for="email">Email:</label>
          <input class="text-input" type="text" name="email" placeholder="Email" id="email"><br>
          <label for="message">Message:</label>
          <textarea name="messagetext" id="message" rows="5" cols="39"></textarea>
          <div id="something">
            <a class="button-submit">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>

    <!--footer-->
    <footer class="footer-grid footer para">
      <div class="grid-thirty">
        <p><strong>Address</strong></p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p><strong>Email</strong></p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p><strong>Phone Number</strong></p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
        <p><a href="citations.html">Citation Page</a> |
           <a href="updatedStyleGuide.html">Style Guide</a> |
           <a href="https://github.com/tomatotea/IAT339_P02/commits/master">GitHub</a>
        </p>
      </div>
    </footer>


  </body>


</html>
