<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Candies</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="title-grid">
          <a href="index.html">
            <img src="img/jp-logo.png" alt="CandyJP logo, a white candy">
          </a>
          <h1 class="heading-1"><a href="index.html">CandyJP</a></h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
          <a href="productView.html">
          <input class="bar-button" type="image" name="submit" src="img/search-icon.png" alt="search icon, a magnifier" width="31" height="31"></a>
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Products</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <div class="grid-border grid-graybackground">
      <h2 class="heading-2">Products</h2>
      <div class="grid-group">
        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
          <a href="productViewHalloween.html">
            <img src="img/halloween-set.jpg" alt="Halloween special candy set">
          </a>
          <a href="productViewHalloween.html" class=" a-productname link-intext"><h3>Halloween Pumpkin Snack O' Lantern Set</h3></a>
          <div class="div-productinfo">
            <p><strong>Item Number:</strong> 13456</p>
            <p><strong>Weight:</strong> 150g</p>
            <p><strong>Price:</strong> $10.98</p>
        </div>
        </div>
      </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
          <a href="productView.html">
            <img src="img/lotte-plum.jpg" alt="red package plum candy">
          </a>
          <a href="productView.html" class="a-productname link-intext"><h3>Lotte Plum Boiled Sweet Candy</h3></a>
          <div class="div-productinfo">
            <p><strong>Item Number:</strong> 13457</p>
            <p><strong>Weight:</strong> 68g</p>
            <p><strong>Price:</strong> $4.45</p>
          </div>
          </div>
        </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
            <a href="productViewHalloween.html">
              <img src="img/kasugai-grape.jpg" alt="dark pruple package grape flavor candy">
            </a>
            <a href="productViewHalloween.html" class="a-productname link-intext"><h3>Kasugai 100 Grape Gummy Candy</h3></a>
            <div class="div-productinfo">
              <p><strong>Item Number:</strong> 13458</p>
              <p><strong>Weight:</strong> 107g</p>
              <p><strong>Price:</strong> $4.75</p>
            </div>
          </div>
        </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
            <a href="productView.html">
              <img src="img/matcha-caramel.jpg" alt="green package matcha caramel candy">
            </a>
            <a href="productView.html" class="a-productname link-intext"><h3>Morinaga Matcha Caramel Chewy Candy</h3></a>
            <div class="div-productinfo">
              <p><strong>Item Number:</strong> 13459</p>
              <p><strong>Weight:</strong> 82g</p>
              <p><strong>Price:</strong> $3.30</p>
            </div>
          </div>
        </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
            <a href="productViewHalloween.html">
              <img src="img/orion-candy.jpg" alt="orion candy soda flavor">
            </a>
            <a href="productViewHalloween.html" class="a-productname link-intext"><h3>Orion Sour Mini Tablet Candy</h3></a>
            <div class="div-productinfo">
              <p><strong>Item Number:</strong> 13460</p>
              <p><strong>Weight:</strong> 9g</p>
              <p><strong>Price:</strong> $0.75</p>
            </div>
          </div>
        </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
            <a href="productView.html">
              <img src="img/paw-gummy.jpg" alt="chewing gum with a cat on the package">
            </a>
            <a href="productView.html" class="a-productname link-intext"><h3>Senjyakuame Paw Shaped Grape-Orange Gummy</h3></a>
            <div class="div-productinfo">
              <p><strong>Item Number:</strong> 13461</p>
              <p><strong>Weight:</strong> 80g</p>
              <p><strong>Price:</strong> $3.85</p>
            </div>
          </div>
        </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
            <a href="productViewHalloween.html">
              <img src="img/12669-bourbon-fettuccine-peach-gummy.jpg" alt="Peach Gummy Candy">
            </a>
            <a href="productViewHalloween.html" class="a-productname link-intext"><h3>Bourbon Fettuccine Gummi Peach Gummy</h3></a>
            <div class="div-productinfo">
              <p><strong>Item Number:</strong> 14562</p>
              <p><strong>Weight:</strong> 50g</p>
              <p><strong>Price:</strong>  $2.85</p>
          </div>
          </div>
        </div>

        <div class="grid-twenty-product">
          <div class="grid-whitebackground">
            <a href="productView.html">
              <img src="img/meiji-lemon.jpg" alt="carton lemon candy">
            </a>
            <a href="productView.html" class="a-productname link-intext"><h3>Meiji Hi Lemon Tablet Candy</h3></a>
            <div class="div-productinfo">
              <p><strong>Item Number:</strong> 13463</p>
              <p><strong>Weight:</strong> 27g</p>
              <p><strong>Price:</strong> $3.45</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-grid footer">
      <div class="grid-thirty">
        <p><strong>Address</strong></p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p><strong>Email</strong></p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p><strong>Phone Number</strong></p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
        <p><a href="citations.html">Citation Page</a> |
           <a href="updatedStyleGuide.html">Style Guide</a> |
            <a href="https://github.com/tomatotea/IAT339_P02/commits/master">GitHub</a>
        </p>
      </div>
    </footer>


  </body>


</html>
