<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P01 - Citations</title>

    <link href="css/template.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="heading-1">P02 - Citations</h1>
    <p>Citations for resources used and inspirations</p>
    <nav>

      <p>
        Go to:
        <a class="link-intext" href="index.html">CandyJP</a>,
        <a class="link-intext" href="updatedStyleGuide.html">Style Guide</a>
      </p>
      <p>
        Go to:
        <a class="link-intext" href="#fonts">Fonts</a>,
        <a class="link-intext" href="#images">Images</a>,
        <a class="link-intext" href="#other">Resources</a>
      </p>

    </nav>


    <section id="fonts" class="grid-border">

      <h2 class="heading-2">Fonts</h2>

      <ul class="citations">

        <li>
          <cite>Fiege, Haley</cite>. Creator. 2008. <strong>Sniglet</strong> [Font]. Retrieved from <a href="https://fonts.google.com/specimen/Sniglet" target="_blank" class="link-intext">https://fonts.google.com/specimen/Sniglet</a>
        </li>
        <li>
          <cite>Vernon, Adams</cite>. Creator. 2016. <strong>Nunito</strong> [Font]. Retrieved from <a href="https://fonts.google.com/specimen/Nunito" target="_blank" class="link-intext">https://fonts.google.com/specimen/Nunito</a>
        </li>

      </ul>

    </section>



    <section id="images" class="grid-border">

      <h2 class="heading-2">Images</h2>
        <h3 class="heading-3">Content Images</h3>
        <ul class="citations">
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>12669-bourbon-fettuccine-peach-gummy</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/12669-bourbon-fettuccine-gummi-italian-peach-gummy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/12669-bourbon-fettuccine-gummi-italian-peach-gummy-candy</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>halloween-set</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/13468-halloween-pumpkin-snack-o-lantern-set" target="_blank" class="link-intext">https://www.japancentre.com/en/products/13468-halloween-pumpkin-snack-o-lantern-set</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>kasugai-grape</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/515-kasugai-grape-gummy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/515-kasugai-grape-gummy-candy</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>lotte-plum</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/3123-lotte-plum-boiled-sweets" target="_blank" class="link-intext">https://www.japancentre.com/en/products/3123-lotte-plum-boiled-sweets</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>matcha-caramel</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/12655-morinaga-matcha-caramel-chewy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/12655-morinaga-matcha-caramel-chewy-candy</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>meiji-lemon</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/10077-meiji-hi-lemon-tablet-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/10077-meiji-hi-lemon-tablet-candy</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>orion-candy</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/5882-orion-sour-mini-tablet-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/5882-orion-sour-mini-tablet-candy</a>
          </li>
          <li>
            <cite>Japan Centre</cite>. Website. n.d. <strong>paw-gummy</strong> [Image]. Retrieved from <a href="https://www.japancentre.com/en/products/12826-senjyakuame-paw-shaped-grape-and-orange-gummy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/12826-senjyakuame-paw-shaped-grape-and-orange-gummy-candy</a>
          </li>
          <li>
            <cite>Clark, Josh</cite>. Creator. n.d. <strong>pumpkin</strong> [Image]. Retrieved from <a href="https://www.stuffyoushouldknow.com/podcasts/josh-n-chucks-halloween-spooky-scarefest.htmg" target="_blank" class="link-intext">https://www.stuffyoushouldknow.com/podcasts/josh-n-chucks-halloween-spooky-scarefest.htm</a>
          </li>
          <li>
            <cite>Crespi Bonsai</cite>. Website. n.d. <strong>wagashi</strong> [Image]. Retrieved from <a href="http://www.crespieditori.com/crespi_cup/wp-content/uploads/2017/04/Wagashi4-300x215.jpg" target="_blank" class="link-intext">http://www.crespieditori.com/crespi_cup/wp-content/uploads/2017/04/Wagashi4-300x215.jpg</a>
          </li>
          <li>
            <cite>WAFU</cite>. Website. n.d. <strong>japanese-candy-11</strong> [Image]. Retrieved from <a href="http://blog.wafu.com/wp-content/uploads/2015/10/japanese-candy-11.jpg" target="_blank" class="link-intext">http://blog.wafu.com/wp-content/uploads/2015/10/japanese-candy-11.jpg</a>
          </li>
        </ul>

        <h3 class="heading-3">Icons</h3>
        <ul class="citations">
          <li>
            <cite>Chang, Jodie</cite>. Creator. 2017. <strong>jp-logo</strong> [Image].
          </li>
          <li>
            <cite>Chang, Jodie</cite>. Creator. 2017. <strong>search-icon</strong> [Image].
          </li>
          <li>
            <cite>Chang, Jodie</cite>. Creator. 2017. <strong>success</strong> [Image].
          </li>
        </ul>

    </section>


    <section id="other" class="grid-border">

      <h2 class="heading-2">Resources</h2>
      <h3 class="heading-3">Product Information</h3>
      <ul class="citations">

        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Bourbon Fettuccine Gummi Italian Peach Gummy Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/12669-bourbon-fettuccine-gummi-italian-peach-gummy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/12669-bourbon-fettuccine-gummi-italian-peach-gummy-candy</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Halloween Pumpkin Snack O' Lantern Set</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/13468-halloween-pumpkin-snack-o-lantern-set" target="_blank" class="link-intext">https://www.japancentre.com/en/products/13468-halloween-pumpkin-snack-o-lantern-set</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Kasugai Grape Gummy Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/515-kasugai-grape-gummy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/515-kasugai-grape-gummy-candy</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Lotte Plum Boiled Sweets</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/3123-lotte-plum-boiled-sweets" target="_blank" class="link-intext">https://www.japancentre.com/en/products/3123-lotte-plum-boiled-sweets</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Morinaga Matcha Caramel Chewy Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/12655-morinaga-matcha-caramel-chewy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/12655-morinaga-matcha-caramel-chewy-candy</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Meiji Hi Lemon Tablet Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/10077-meiji-hi-lemon-tablet-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/10077-meiji-hi-lemon-tablet-candy</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Orion Sour Mini Tablet Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/5882-orion-sour-mini-tablet-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/5882-orion-sour-mini-tablet-candy</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Senjyakuame Paw Shaped Grape And Orange Gummy Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/products/12826-senjyakuame-paw-shaped-grape-and-orange-gummy-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/products/12826-senjyakuame-paw-shaped-grape-and-orange-gummy-candy</a>
        </li>

      </ul>

      <h3 class="heading-3">Content</h3>
      <ul class="citations">

        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>Candy</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/categories/845-candy" target="_blank" class="link-intext">https://www.japancentre.com/en/categories/845-candy</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>ABOUT US</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/company" target="_blank" class="link-intext">https://www.japancentre.com/en/company</a>
        </li>
        <li>
          <cite>Japan Centre</cite>. Website. n.d. <strong>PROMOTIONS And EVENTs</strong> [Text]. Retrieved from <a href="https://www.japancentre.com/en/events#52" target="_blank" class="link-intext">https://www.japancentre.com/en/events#52</a>
        </li>

      </ul>

      <h3 class="heading-3">Others</h3>
      <ul class="citations">

        <li>
          <cite>PayPal</cite>. Website. n.d. <strong>paypal_2014_logo_detail</strong> [Image]. Retrieved from <a href="https://www.underconsideration.com/brandnew/archives/paypal_2014_logo_detail.png" target="_blank" class="link-intext">https://www.underconsideration.com/brandnew/archives/paypal_2014_logo_detail.png</a>
        </li>
        <li>
          <cite>Hawryshkewich, Andrew</cite>. Professor. 2017. <strong>Style Guide Template</strong> [Template]. Retrieved from <a href="https://iat339.andrewh.ca/." target="_blank" class="link-intext">https://iat339.andrewh.ca/.</a>
        </li>
        <li>
          <cite>Hawryshkewich, Andrew</cite>. Professor. 2017. <strong>Citations Template</strong> [Template]. Retrieved from <a href="https://iat339.andrewh.ca/." target="_blank" class="link-intext">https://iat339.andrewh.ca/.</a>
        </li>
        <li>
          <cite>Hawryshkewich, Andrew</cite>. Professor. 2017. <strong>03 - Grids - Completed</strong> [Tutorial]. Retrieved from <a href="https://iat339.andrewh.ca/." target="_blank" class="link-intext">https://iat339.andrewh.ca/.</a>
        </li>
        <li>
          <cite>W3Schools</cite>. Publisher. 2017. <strong>CSS Tutorial</strong> [Learning Resource]. Retrieved from <a href="https://www.w3schools.com/css/default.asp" target="_blank" class="link-intext">https://www.w3schools.com/css/default.asp</a>
        </li>
        <li>
          <cite>W3Schools</cite>. Publisher. 2017. <strong>HTML5 Tutorial</strong> [Learning Resource]. Retrieved from <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="link-intext">https://www.w3schools.com/html/default.asp</a>
        </li>

      </ul>

    </section>

</body>
</html>
