<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>

    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="title-grid">
          <a href="index.html">
            <img src="img/jp-logo.png" alt="CandyJP logo, a white candy">
          </a>
          <h1 class="heading-1"><a href="index.html">CandyJP</a></h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
          <a href="productView.html">
          <input class="bar-button" type="image" name="submit" src="img/search-icon.png" alt="search icon, a magnifier" width="31" height="31"></a>
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Products</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <section class="middle-section">
    <div class="homepage-products">
      <h2 class="heading-2">Latest Product</h2>
      <div class="grid-thirty">
        <div class="grid-whitebackground">
          <a href="productView.html">
            <img src="img/lotte-plum.jpg" alt="Plum candies">
          </a>
          <a href="productView.html" class="link-intext"><h3>Lotte Plum Boiled Sweet Candy</h3></a>
          <p><strong>Price:</strong> $4.45</p>
      </div>
      </div>
      <div class="grid-thirty">
        <div class="grid-whitebackground">
          <a href="productViewHalloween.html">
            <img src="img/halloween-set.jpg" alt="Set of Halloween candy">
          </a>
          <a href="productViewHalloween.html" class="link-intext"><h3>Halloween Pumpkin Snack O' Lantern Set</h3></a>
          <p><strong>Price:</strong> $10.98</p>
      </div>
      </div>
      <div class="grid-thirty">
        <div class="grid-whitebackground">
          <a href="productView.html">
            <img src="img/kasugai-grape.jpg" alt="Grape flavored gummies">
          </a>
          <a href="productView.html" class="link-intext"><h3>Kasugai 100 Grape Gummy Candy</h3></a>
          <p><strong>Price:</strong> $4.75</p>
        </div>
      </div>

      <h2 class="heading-2">Sales</h2>
      <div class="grid-thirty">
        <div class="grid-whitebackground">
        <a href="productView.html">
          <img src="img/matcha-caramel.jpg" alt="Matcha flavored caramel">
        </a>
        <a href="productView.html" class="link-intext"><h3>Morinaga Matcha Caramel Chewy Candy</h3></a>
        <p><strong>Price:</strong> $3.30</p>
      </div>
    </div>
      <div class="grid-thirty">
        <div class="grid-whitebackground">
        <a href="productView.html">
          <img src="img/orion-candy.jpg" alt="Sour soda tablets">
        </a>
        <a href="productView.html" class="link-intext"><h3>Orion Sour Mini Tablet Candy</h3></a>
        <p><strong>Price:</strong> $0.75</p>
      </div>
    </div>
      <div class="grid-thirty">
        <div class="grid-whitebackground">
        <a href="productView.html">
          <img src="img/paw-gummy.jpg" alt="Cat paw shaped fruit gummies">
      </a>
        <a href="productView.html" class="link-intext"><h3>Senjyakuame Paw Shaped Grape-Orange Gummy</h3></a>
        <p><strong>Price:</strong> $3.85</p>
      </div>
    </div>
    </div>

    <div class="events">
      <h2 class="heading-2">News and Events</h2>
      <h3 class="heading-3">Kyoto Wagashi Workshop</h3>
      <img src="img/wagashi.jpg" alt="Assortment of wagashi">
      <p class="para">Kyoto is famous for its beautiful and delicate wagashi - Japanese traditional handmade confectioneries.

      Enjoy a delightful evening where you can create your own colourful wagashi served with a bowl of freshly whisked matcha.
      Come join us at the <a href="https://www.vancouverconventioncentre.com/" class="link-intext">Vancouver Convention Centre</a>!
      </p>

      <h3 class="heading-3">Halloween Set</h3>
      <img src="img/pumpkin.jpg" alt="Four halloween pumpkin carvings">
      <p class="para">
        Halloween is coming up! Why not check out our limited time only <a href="productViewHalloween.html" class="link-intext">Halloween Candy set</a> straight from Japan!
      </p>

    </div>
  </section>


  <footer class="footer-grid footer">
    <div class="grid-thirty">
      <p><strong>Address</strong></p>
      <p> 1243 545 A Street Vancouver</p>
      <p> British Columbia, Canada </p>
    </div>
    <div class="grid-thirty">
      <p><strong>Email</strong></p>
      <p>CandyJP@gmail.com</p>
    </div>
    <div class="grid-thirty">
      <p><strong>Phone Number</strong></p>
      <p>(604) 334-2123</p>
    </div>
    <div class="grid-fullwidth text-center">
      <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
      <p><a href="citations.html">Citation Page</a> |
         <a href="updatedStyleGuide.html">Style Guide</a> |
          <a href="https://github.com/tomatotea/IAT339_P02/commits/master">GitHub</a>
      </p>
    </div>
  </footer>


  </body>


</html>
