<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="title-grid">
          <a href="index.html">
            <img src="img/jp-logo.png" alt="CandyJP logo, a white candy">
          </a>
          <h1 class="heading-1"><a href="index.html">CandyJP</a></h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
          <a href="productView.html">
          <input class="bar-button" type="image" name="submit" src="img/search-icon.png" alt="search icon, a magnifier" width="31" height="31"></a>
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Products</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <div class="grid-border">
      <h2 class="heading-2">Halloween Pumpkin Snack O' Lantern Set</h2>
      <div class="grid-group">
        <div class="grid-thirty">
          <img src="img/halloween-set.jpg" alt="Set of Halloween candy">
        </div>
        <div class="grid-forty div-text para">
          <p>Prepare yourself for a truly wicked Halloween this year with a japancentre.com exclusive Halloween snack set. No, you don't have to go trick-or-treating in Japan to get your hands on these exciting Japanese treats. Want to know what this cute pumpkin Jack O' Lantern is holding? You will find a colourful assortment of treats to sink your fangs into, including spooky Halloween-themed onigiri rice crackers, chewy, fruity gummy sweets, rare, special edition KitKats, and more! Share these limited edition snacks with trick-or-treaters, or keep them all to yourself. </p>
          <p><strong>Item Number:</strong> 13456</p>
          <p><strong>Weight:</strong> 150g</p>
          <p><strong>Price:</strong> $10.98</p>
        </div>

        <div class="grid-thirty">
          <form id="form-product">
            <label for="amount"><strong>Amount:</strong></label>
            <br>
            <input class="button-amount" type="text" name="amunt" id="amount" value="1">
            <br>
            <a class="button button-submit" href="shoppingcart.html">Add to cart</a>
          </form>
        </div>

      </div>
    </div>

    <footer class="footer-grid footer">
      <div class="grid-thirty">
        <p><strong>Address</strong></p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p><strong>Email</strong></p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p><strong>Phone Number</strong></p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
        <p><a href="citations.html">Citation Page</a> |
           <a href="updatedStyleGuide.html">Style Guide</a> |
           <a href="https://github.com/tomatotea/IAT339_P02/commits/master">GitHub</a>
        </p>
      </div>
    </footer>


  </body>


</html>
