<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Payment Form</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="title-grid">
          <a href="index.html">
            <img src="img/jp-logo.png" alt="CandyJP logo, a white candy">
          </a>
          <h1 class="heading-1"><a href="index.html">CandyJP</a></h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
          <a href="productView.html">
          <input class="bar-button" type="image" name="submit" src="img/search-icon.png" alt="search icon, a magnifier" width="31" height="31"></a>
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Products</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>
    <div class="grid-border">
      <h2 class="heading-2">Shopping Cart</h2>

      <div class="grid-group">
        <div class="grid-twenty">
          <img src="img/lotte-plum.jpg" alt="red package plum candy">
        </div>
        <div class="grid-thirty div-text center">
          <h3>Lotte Plum Boiled Sweet Candy</h3>
          <p><strong>Item Number:</strong> 13457</p>
          <p><strong>Amount:</strong> 1</p>
          <p><strong>Price:</strong> $4.45</p>
        </div>
        <div class="grid-twenty div-text">
          <p><strong>Price:</strong> $4.45</p>
          <p><strong>Tax  :</strong> $0.53</p>
          <p><strong>Total:</strong> $4.98</p>
        </div>
        <div class="grid-twenty">
          <a href="shoppingcart_oneitem.html" class="button button-reset"> Remove Item</a>
        </div>
      </div>

      <hr>

      <div class="grid-group">
        <div class="grid-twenty div-text">
          <h2>Total </h2>
        </div>
        <div class="grid-thirty div-text center">
          <p><strong>Product Name:</strong> Halloween Pumpkin Snack O' Lantern Se</p>
          <p><strong>Amount:</strong> 1</p>
          <p><strong>Product Name:</strong> Lotte Plum Boiled Sweet Candy</p>
          <p><strong>Amount:</strong> 1</p>
        </div>
        <div class="grid-twenty div-text">
          <p><strong>Price:</strong> $15.43</p>
          <p><strong>Tax  :</strong>  $1.85</p>
          <p><strong>Total:</strong> $17.28</p>
        </div>
        <div class="grid-twenty">
          <a href="payment.html" class="button button-submit">Check Out All</a>
        </div>
      </div>
    </div>

    <footer class="footer-grid footer">
      <div class="grid-thirty">
        <p><strong>Address</strong></p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p><strong>Email</strong></p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p><strong>Phone Number</strong></p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
        <p><a href="citations.html">Citation Page</a> |
           <a href="updatedStyleGuide.html">Style Guide</a> |
           <a href="https://github.com/tomatotea/IAT339_P02/commits/master">GitHub</a>
        </p>
      </div>
    </footer>
  </body>

</html>
